* {
    margin: 0;
}
html body{
    height: 100%;
    width: 100%;
    background-color: #EEEEEE;
}
html {
    background-color: #181818;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.wrapper-content{
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}
.img-responsive{
    display: table;
    -webkit-background-size: cover;
    background-size: cover;
    height: 450px;
    width: 100%;
    margin-bottom: 15px;
}
.product-item{
    height: 390px;
    max-width: 100%;
    width: auto;
    max-height: 100%;
    position: relative;
    background-color: white;
    border: 1px solid lightgray;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 0;
}
.product-item1{
    height: 330px;
    width: auto;
    position: relative;
    background-color: white;
    border: 1px solid lightgray;
    text-align: center;
    margin-bottom: 10px;

}
.product-items{
    height: 260px;
    max-width: 100%;
    width: auto;
    max-height: 100%;
    position: relative;
    background-color: white;
    border: 1px solid lightgray;
    margin-bottom: 10px;
    margin-left: 0;
}
a{
    color: black;
}
.navbar{
    margin: 0;
    border-bottom: 3px solid #181818;

}
.navbar-static-top{
    background-color: white;
}
.dropdown h4{
    font-weight: 500;
    font-size: 22px;
    color: #181818;
}
.footer{
    margin-top: 100px;
    bottom: 0;
    height: 200px;
    width: 100%;
    background-color: #181818 ;
    color: white;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}
#footer .sitemap > ul > li > a{
    color: white;
}
.image-responsive{
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.images-responsive{
    width: auto;
    max-width: 100%;
    height: 220px;
    max-height: 100%;
    margin-top: 10px;
    margin-bottom: 0;
}
.Image-responsive{
    width: auto;
    max-width: 100%;
    height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Images-responsive{
    width: auto;
    max-width: 200px;
    height: auto;
    max-height: 220px;
    margin-top: 12%;
    margin-bottom: 0;
    margin-left: 5px;
}
.discount-container{
    position: absolute;
    bottom: 0;
    margin: 215px -130px;
    background-color: green;
    color: white;
    width: 80px;
    height: 18px;
    font-weight: 600;
}
.discount-containers{
    position: absolute;
    bottom: 0;
    left: 0;
    top: 30%;
    text-align: center;
    background-color: green;
    color: white;
    width: 80px;
    height: 18px;
    font-weight: 600;
}
.product_number{
    width: 200px;
}
.info-section{
    position: relative;
    color: white;
    width: 100%;
    height: 350px;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}
.text-center{
    margin-bottom: 50px;
}
.text{
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 25px;
    margin-right: 25px;
    word-wrap: break-word;
}
.tile-link{
    color: black;
}
.price{
    margin-top: 0;
}
.price-container{
    position: absolute;
    bottom: 0;
    margin-bottom: 55px;
    left: 50%;
    margin-left: -30px;
}
.discount{
    color: gray;
    margin-bottom: -3px;
    text-decoration: line-through;
}
.btn-primary{
    position: absolute;
    bottom: 0;
    margin: 20px -70px;
}
.button-primary{
    margin-top: 10px;
    margin-bottom: 10px;
}
.price-item{
    margin-left: 50px;
}
.btn{
    line-height: 24px;
    padding: 8px 30px;
    background: forestgreen;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    border: black 1px solid;
    z-index: 5;
    border-radius: 100px;
}
.section{
    margin-top: 70px;
}
.basket-item{
    width: 500px;
}
.delete_item{
    width: 1px;
}
.inline{
    display: flex;
    flex-wrap: wrap;
    align-content:stretch;
}
.form-place{
    position: absolute;
    right: 20px;
    top: 140px;
}
.discount-section{
    position: absolute;
    right: 60px;
    top: 85px;
}
.discounts{
    margin-left: 7px;
}
.description{
    word-wrap: normal;
    margin-top: 8%;
    margin-right: 150px;
}
.all-text{
    max-width: 60%;
}
.image_responsive{
    width: 40px;
    height: 40px;
}
#home-slider .carousel-indicators {
    position: absolute;
    left: 50%;
    z-index: 100;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
.item{
    height: 500px;
}
.carousel-content{
    margin-top: 170px;
}
.inline-text{
    display: inline-block;
}
.space{
    padding: 5%;
}
.btn-retreat{
    margin-top: 10px;
}
.position-text{
    text-align: center;
    margin-bottom: 20px;
}
.text-preview{
    margin-top: -100px;
    margin-bottom: 100px;
    color: #212834;
    font-weight: 700;
    font-size: 90px;
    line-height: 95px;
    text-transform: uppercase;
    display: block;
}
.mini-text-preview{
    font-size: 40px;
    color: #ffffff;
    font-weight: 700;
    text-shadow: 1px 0px #333;
}
.text-main{
    font-size: 40px;
    color: #181818;
}
.info-text{
    position: absolute;
    margin-top: 150px;
    margin-left: 50%;
    font-size: 35px;
}
.Name{
    margin-bottom: 40px;
}
.table{
    margin-bottom: 75px;
}
.tab-top{
    margin-top: 20px;
}
.slider {
     position: relative;
     z-index: 9;
     max-width: 100%;
     height: 500px;
     overflow: hidden;
     left: auto;
     margin: auto;
 }
 .slider ul,
 .slider li {
     padding: 0;
     margin: 0;
     list-style-type: none;
 }
 .slider ul {
     width: 9999px;
 }
 .slider ul li {
     list-style-type: none;
     float: left;
 }
 .slider .nav {
     position: absolute;
     margin-left: 42%;
     bottom: 12px;
 }
 .slider .nav span {
     opacity: 0.9;
     background: #fff;
     margin: 0 8px 0 0;
     width: 16px;
     height: 16px;
     border-radius: 8px;
     cursor: pointer;
     overflow: hidden;
     display: block;
     float: left;
     box-shadow: 0 1px 2px #000;
 }
 .slider .nav span.on {
     background: #2e9419;
 }
 .block_slider{
     margin-top: 30px;
     width: 100%;
 }
 .slick-prev{
     position: absolute;
     margin-top: 250px;
     left: 0;
 }
 .slick-next{
     position: absolute;
     margin-top: 250px;
     right: 0;
 }
 .slider a{
     text-decoration: none;
 }
 .left, .right{
    filter: none;
    height: 80px;
    width: 70px;
     margin-top: 10%;
 }
 .carousel-control a i h1{
     color: #fff;
    text-shadow: none;
    opacity: 1;
 }
 .card-wrapper{
     margin: 30px 0;
 }
.jp-card-container {
    -moz-perspective: 1000px;
    perspective: 1000px;
    width: 350px;
    max-width: 100%;
    height: 200px;
    margin: auto;
    z-index: 1;
    position: relative;
}
.jp-card {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1;
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 315px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 400ms linear;
}
.jp-card .jp-card-front,
.jp-card .jp-card-back {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 400ms linear;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 10px;
    background: #DDD;
}
.jp-card .jp-card-back{
        transform: rotateY(180deg);
}
.jp-card .jp-card-back .jp-card-bar {
    background-color: #444;
    background-image: linear-gradient(#444, #333);
    width: 100%;
    height: 20%;
    position: absolute;
    top: 10%;
}
.jp-card .jp-card-back .jp-card-cvc {
    position: absolute;
    top: 40%;
    left: 85%;
    transition-delay: 600ms;
}
.jp-card .jp-card-back .jp-card-shiny {
    position: absolute;
    top: 66%;
    left: 2%;
}
.jp-card .jp-card-front .jp-card-shiny, .jp-card .jp-card-back .jp-card-shiny {
    width: 50px;
    height: 35px;
    border-radius: 5px;
    background: #CCC;
    position: relative;
}
.jp-card .jp-card-front .jp-card-display, .jp-card .jp-card-back .jp-card-display {
    color: white;
    font-weight: normal;
    opacity: 0.5;
    transition: opacity 400ms linear;
}
.jp-card .jp-card-front .jp-card-lower {
    width: 80%;
    position: absolute;
    top: 50px;
    left: 10%;
    bottom: 30px;
}
.jp-card .jp-card-front .jp-card-shiny:before, .jp-card .jp-card-back .jp-card-shiny:before {
    content: " ";
    display: block;
    width: 70%;
    height: 60%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #d9d9d9;
    position: absolute;
    top: 20%;
}
.jp-card .jp-card-front .jp-card-lower .jp-card-number {
    font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
    font-size: 24px;
    clear: both;
    margin-bottom: 30px;
}
.jp-card .jp-card-front .jp-card-logo {
    position: absolute;
    opacity: 0;
    right: 5%;
    top: 8%;
    transition: 400ms;
}
.jp-card .jp-card-front .jp-card-lower .jp-card-name {
    text-transform: uppercase;
    font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
    font-size: 20px;
    max-height: 45px;
    position: absolute;
    bottom: 0;
    width: 190px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: horizontal;
    overflow: hidden;
    text-overflow: ellipsis;
}
.jp-card .jp-card-front .jp-card-lower .jp-card-expiry:after {
    position: absolute;
    content: attr(data-after);
    text-align: right;
    right: 100%;
    margin-right: 5px;
    margin-top: 2px;
    bottom: 0;
}
.jp-card .jp-card-front .jp-card-lower .jp-card-expiry {
    font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
    letter-spacing: 0em;
    position: relative;
    float: right;
    width: 25%;
}
.jp-card .jp-card-front .jp-card-lower .jp-card-expiry:before {
    content: attr(data-before);
    margin-bottom: 2px;
    font-size: 7px;
    text-transform: uppercase;
}
.jp-card .jp-card-front .jp-card-lower .jp-card-expiry:after, .jp-card .jp-card-front .jp-card-lower .jp-card-expiry:before {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 7px;
    white-space: pre;
    display: block;
    opacity: .5;
}
.payment-form{
    margin: 10px 10px 10px 10px;
}
.delete_basket_item a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.filter_place{
    text-align: center;
    padding: 10px;
    background-color: white;
    border: 1px solid lightgray;
}
.filter_place a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.filter_place ul li{
    list-style: none;
    font-size: 10px;
    text-align: left;
}
.product-items a:hover {
    text-decoration: none;
    color: black;
}