<footer id="footer" class="footer">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h3>Footer</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus,<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                <div class="sitemap">
                    <ul>
                        <li class="space inline-text"><a href="{% url 'home' %}">HOME</a></li>
                        <li class="space inline-text"><a href="{% url 'about' %}">ABOUT</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>