{% extends 'base.html' %}
{% block content %}
     <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>CART</h1>
            </div>
            {% if products_in_cart %}
                <form id="checkout" method="post" class="form-inline" action="{% url 'contact' %}">{% csrf_token %}
                    <div class="contents">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>
                                        <h3>Product Name</h3>
                                    </td>
                                    <td>
                                        <h3>Quantity</h3>
                                    </td>
                                    <td>
                                        <h3>Price per item</h3>
                                    </td>
                                    <td>
                                        <h3>Total price</h3>
                                    </td>
                                    <td>
                                        <h3>Delete</h3>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product_in_cart in products_in_cart %}
                                    <tr>
                                        <td>
                                            <h4>{{ product_in_cart.product.name }}</h4>
                                        </td>
                                        <td>
                                            <input type="number" class="form-control product_number" name="product_in_basket_{{ product_in_cart.id }}" value="{{ product_in_cart.number }}" min="1" max="10">
                                        </td>
                                        <td class="price_per_item">
                                            <h4>{{ product_in_cart.price_for_one }}</h4>
                                        </td>
                                        <td class="price_all">
                                            <h4>{{ product_in_cart.price_all }}</h4>
                                        </td>
                                        <td class="delete_basket_item text-center" data-product_id="{{ product_in_cart.id }}">
                                            <a>X</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="text-right">
                            <div>
                                <h4 class="subtotal inline-text">Subtotal: </h4>
                                <h4 class="total_price inline-text"></h4>
                            </div>
                            <div class="checkout">
                                <button type="submit"  class="btn btn-round">Checkout</button>
                            </div>
                        </div>
                    </div>
                </form>
            {% else %}
                <h1 class="text-center">There are no products in your basket.</h1>
            {% endif %}
        </div>
     </div>
{% endblock content %}